/* 
Waldin Obando Muñoz - B95646
Walter Vargas Meza - B98247 
Jeremy Ovares Roig - B85826
*/

*{
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header{
    background-color: rgb(10, 10, 10);
    width: 100%;
    float: left;
}

.header h1{
    margin: 10px;
}

.header a{
    text-decoration: none;
    color: #fff;
}

/* menu */

.menu{
    background-color: rgb(69, 69, 70);
    width: 100%;
    float: left;
    font-size: 14px;

}

/* main */

#rss{
    margin-top: 15px;
    margin-bottom: 15px;
}

#rss-img{
    width: 300px;
    height: 400px;
}

#columnas{
    padding-top: 14px;
}

/*******************Autos************************** */

.mainAutos{
    float: left;
}

.imgAutos{
    height: 50%;
    width: 50%;
    margin-left: 70px;
}

.imgAutos img{
    width: 190px;
}

/* *******************Motores************************* */

.carousel {
    width: 50%;
}

.carouselExampleCaptions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
